<div class="card border-0 position-relative shadow-lg my-4">
  <a (click)="goToDetails(movie.id)">
    <img
      [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
      class="card-img-top rounded-3 mb-2"
      alt="{{ movie.title }} poster"
    />
  </a>
  <div
    class="position-absolute bg-dark border-info border border-2 text-light d-flex align-items-center justify-content-center"
    style="
      top: 80%;
      left: 1rem;
      border-radius: 50%;
      width: 2.9rem;
      height: 2.9rem;
    "
  >
    <span class="roboto-light" style="font-size: 0.875rem">{{
      movie.vote_average | number : "1.0-2"
    }}</span>
  </div>
  <div class="card-body" style="margin-top: 2.25rem">
    <p class="mb-0 position-absolute roboto-bold" style="bottom: 2rem">
      {{ movie.title }}
    </p>
    <div
      class="d-flex justify-content-between align-items-center"
      style="height: 0.5rem"
    >
      <span class="card-text text-muted">
        {{ movie.release_date | date : "MMM d, y" }}
      </span>
      <input
        type="checkbox"
        class="addToFav"
        name="addToFavBtn"
        id="heart{{ movie.id }}"
      />
      <label for="heart{{ movie.id }}" class=""
        ><fa-icon
        [ngClass]="{'heart-red': isInWatchlist, 'heart-default': !isInWatchlist}"
          (click)="addToCart(movie)"
          [icon]="faHeart"
          class="fs-4 heart"
        ></fa-icon
      ></label>
      <!-- <button class="btn btn-outline-info" (click)="addToCart(movie)">add to watchlist</button> -->
    </div>
  </div>
</div>
