.container{
    width:70%;
}
@media screen and (max-width: 768px) {
    .img-fluid-custom {
        width: 100%;
    }
    
}
@media screen and (min-width: 768px) {
    /* .row{
    height: 335px;
    } */
    
}

.text-warning {
    color: yellow;
  }
  
  .text-danger {
    color: red;
  }
  