<div class="container-fluid px-5">
  <div class="container-fluid bg-light p-5">
    <h2 class="roboto-bold">Welcome to our movie app</h2>
    <p class="roboto-light my-5">
      Millions of movies, TV shows and people to discover. Explore now.
    </p>
    <app-search-bar></app-search-bar>
  </div>
  <h1 class="fs-1 my-5 fw-bold">Now Playing</h1>
  <div class="row">
    @for(Movie of movie;track $index){
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2 my-2">
      <app-movie-card [movie]="Movie"></app-movie-card>
    </div>
    }
  </div>
  <div class="d-flex justify-content-center my-4">
    <div class="paginations">
      <div>
        <div
          class="btn-group d-flex justify-content-center align-items-center"
          id="radioBtn"
        >
          <a class="btn me-3 notActive" (click)="paginationPrev()">&#x3C;</a>
          <span class="bg-warning p-2 rounded me-3">{{ pageNumber }}</span>
          <a class="btn me-3 notActive" (click)="paginationNext()"> &#x3E;</a>
        </div>
      </div>
    </div>
  </div>
</div>
