<form action="" class="d-flex row">
  <div class="col-sm-12 col-lg-11 col-xl-11">
    <input
      type="text"
      name="search_input"
      class="form-control rounded-3 p-3 me-4 mb-2 border border-1"
      placeholder="Search and explore..."
      [(ngModel)]="text"
      value="{{ text }}"
    />
  </div>
  <div class="col-sm-12 col-lg-1 col-xl-1">
    <button
      type="submit"
      class="btn fs-3 roboto-regular search px-4"
      style="background-color: #ffe353"
      (click)="search()"
    >
      Search
    </button>
  </div>
</form>
