/* @media screen and (min-width: 768px) {
    .img-fluid{
    width: 100px;
    }} */

    /* .container{
        width: 70%;
    } */

    /* .img-fluid{
        width: 100%;
    } */

::ng-deep .slick-arrow {
    background-color: #331818; 
    border-radius: 50%;
  }
  
  
  